.selectified {
  position: absolute;
  top: -10000px;
  left: -10000px;
}

.selectify {
  display: inline-block;
  position: relative;
}

.selectify .selectify-current-container {
  z-index: 1;
  background: #FFF;
}

.selectify .selectify-options-container {
  top: 0;
  left: 0;
  position: absolute;
  width: 100%;
  display: none;
  z-index: 2;
  background: #FFF;
}
